@model CourseLessonDownloadModel
@section scripts {
	<script>
		$('#btn-save').click(function() {
			$('#form-fields').submit();
			return false;
		});
	</script>
}

<nav>
	@Html.Breadcrumb(ViewBag.is_create ? "Criar download" : "Editar download", "Downloads", "/Admin/LessonDownload/List/" + Model.LessonId, "Lições", "/Admin/Lesson/List/" + Model.Lesson.ModuleId, "Módulos", "/Admin/Module/List/" + Model.Lesson.Module.CourseId, "Cursos", "/Admin/Course/List/")

	<div class="actions">
		<div class="container">
			<div class="wrap">
				<a href="" class="btn btn-primary" id="btn-save">
					<svg class="icon icon-save"><use xlink:href="#save"></use></svg> Salvar
				</a>
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<form method="post" id="form-fields">
		<div class="form-group">
			<label class="control-label">Url:</label>
			<input type="text" class="form-control" asp-for="Url" />
			<span asp-validation-for="Url" class="text-danger"></span>
		</div>

		<input type="hidden" value="@Model.LessonId" asp-for="LessonId" />

		@if(!ViewBag.is_create)
		{
			<input type="hidden" value="@Model.Id" asp-for="Id" />
		}
	</form>
</div>